# Dependencies
node_modules/

# Parcel
.parcel-cache/
dist/

# Security & Env
.env
.env.local
.env.*
!.env.example

# Testing
coverage/

# Misc
.DS_Store
Thumbs.db
.npm
*.log
*.tmp
*.temp
.eslintcache

# IDE
.vscode/
.idea/
