@import "tailwindcss";

@theme {
  --color-swiggy-orange: #fc8019;
  --color-swiggy-green: #60b246;
  --color-swiggy-dark: #282c3f;
  --color-swiggy-text-main: #3d4152;
  --color-swiggy-text-muted: #686b78;
  --color-swiggy-bg: #f1f1f6;
  --color-swiggy-shimmer: #eef0f3;
}
